NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_local_MySQL_password_here
DB_NAME=demo_credit

JWT_SECRET=production_secret_key_here
ADJUTOR_API_KEY=your_adjutor_api_key_here

# skipping karma check might be necessary for development environments, but should be set to false in production
SKIP_KARMA_CHECK=false